<div id = "time_now">
<%= @current.strftime('%Y年%m月%d日 %X %a') %>
</div>
<div class="stumps">
	<div class="square_btn stump">出勤</div>
	<div class="square_btn stump">休憩開始</div>
	<div class="square_btn stump">休憩終了</div>
	<div class="square_btn stump">退勤</div>
</div>